/research/
/build/
/dist/
/lab/
*.zip
__pycache__/
*.pyc
CMakeUserPresets.json

/build-*/
*.obj
*.lib
*.exp
*.pdb
*.dll
*.so
*.whl
*.egg-info/

/logs/
/scripts/desktop.ps1
/scripts/debug_attach.py
*.log
*.pcap
*.pcapng
*.pem
